// .container {
//   display: inline-block;
//   position: relative;
//   width: 100%;
//   padding-bottom: 100%;
//   vertical-align: middle;
//   overflow: hidden;
// }

// .brick {
//   display: inline-block;
//   position: absolute;
//   top: 0;
//   left: 0;
// }

svg {
  border: solid 1px black;
}

g{
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

@keyframes matterloop {
  0% {
    --noshadow: blue;
    --shadow1: darkblue;
    --shadow0: mediumblue;
  }
  33% {
    --noshadow: red;
    --shadow1: darkred;
    --shadow0: firebrick;
  }
  66% {
    --noshadow: green;
    --shadow1: darkgreen;
    --shadow0: seagreen;
  }
  100% {
    --noshadow: blue;
    --shadow1: darkblue;
    --shadow0: mediumblue;
  }
}

@keyframes antimatterloop {
  0% {
    --noshadow: cyan;
    --shadow1: mediumturquoise;
    --shadow0: turquoise;
  }
  33% {
    --noshadow: magenta;
    --shadow1: darkorchid;
    --shadow0: mediumorchid;
  }
  66% {
    --noshadow: yellow;
    --shadow1: gold;
    --shadow0: khaki;
  }
  100% {
    --noshadow: cyan;
    --shadow1: mediumturquoise;
    --shadow0: turquoise;
  }
}

.matter {
  animation: matterloop 1s ease infinite;
}

.antimatter {
  animation: antimatterloop 1s ease infinite;
}

.loop-1 {
  animation-delay: -0.33s;
}
.loop-2 {
  animation-delay: -0.66s;
}
.loop-3 {
  animation-delay: -1s;
}


.blue {
  --noshadow: blue;
  --shadow1: darkblue;
  --shadow0: mediumblue;
}

.red {
  --noshadow: red;
  --shadow1: darkred;
  --shadow0: firebrick;
}

.green {
  --noshadow: green;
  --shadow1: darkgreen;
  --shadow0: seagreen;
}

.yellow {
  --noshadow: yellow;
  --shadow1: gold;
  --shadow0: khaki;
}

.cyan {
  --noshadow: cyan;
  --shadow1: mediumturquoise;
  --shadow0: turquoise;
}

.magenta {
  --noshadow: magenta;
  --shadow1: darkorchid;
  --shadow0: mediumorchid;
}

.white {
  --noshadow: gainsboro;
  --shadow1: silver;
  --shadow0: lightgray;
}

.black {
  --noshadow: black;
  --shadow1: dimgray;
  --shadow0: darkgray;
}

.outline {
  --noshadow: white;
  --shadow1: white;
  --shadow0: white;
}
