{{ define "main" }}
{{ with $.Page.Resources.GetMatch "data.md"}}
  {{$.Scratch.Set "data" .Params.data}}
{{end}}
{{$data := $.Scratch.Get "data"}}
<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">{{.Title}}  ( {{$data.name}} )</h1>
    {{ partial "brick.html" (dict "particle" $data.name "width" 300)}}
  </div>
</section>
<section class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link show active" data-toggle="tab" href="#properties">Properties</a>
    </li>
    <li class="nav-item">
      <a class="nav-link show" data-toggle="tab" href="#classification">Classification</a>
    </li>
    <li class="nav-item">
      <a class="nav-link show" data-toggle="tab" href="#history">History</a>
    </li>
  </ul>
  <div id="myTabContent" class="tab-content">
    <br>
    <div class="tab-pane fade active show" id="properties">
      <div class="row">
      {{$colors := dict "mass" "bg-success" "charge" "bg-warning" "composition" "bg-info" "spin" "bg-danger" "antiparticle" "bg-primary"}}
      {{$units := dict "mass" "MeV/c2" "charge" "e"}}
      {{$order := slice "mass" "charge" "spin" "composition" "antiparticle"}}
      {{ range $order }}
        <div class="col-sm">
        {{ partial "particlecard.html" (dict "color" (index $colors .) "key" . "value" (index $data.properties .) "unit" (index $units .) )}}
        </div>
      {{end}}
      </div>
    </div>
  </div>

</section>

{{ end }}
